/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    /* A cool color, taken from the picture */
    --pop: #d9846a;
}

* {
    font-family: "Noto Sans", Arial, sans-serif;
}

p, li, span, h3 {
    color: gray;
}

h1 {
    color: var(--pop);
}

strong {
    color: #313131;
}

a {
    text-decoration: none;
    color: var(--pop);
}

ul, ol {
    margin-right: 40px;
}

.horizontal-separator {
    width: 100%;
    margin: 40px auto;
    border: .1vh solid #dbdbdb;
    border-radius: 10px;
}
